@import 'helpers';
@import 'loader';

.tp-autocomplete {
  position: relative;

  .loader {
    position: absolute;
    top: em(12px);
    right: em(10px);

    div {
      width: em(15px);
      height: em(15px);
    }
  }
}

.tp-ac__input {
  width: 100%;
  padding: em(5px, 20px);

  border: solid 1px transparent;
  border-radius: 0;
  background-color: #fafafa;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .35);

  font-size: em(20px);
  font-weight: bold;

  -webkit-appearance: none;

  &::placeholder {
    color: #ccc;

    -webkit-font-smoothing: antialiased;
  }

  &:focus {
    border-bottom: solid 1px #666;
    outline: none;

  }

  &::-ms-clear {
    display: none;
  }
}

.tp-ac__list {
  position: absolute;
  z-index: 1;

  width: 100%;
  margin: 0;
  margin-top: -1px;
  padding-left: 0;

  list-style-type: none;

  color: #979797;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .35);

  font-size: em(14px);
}

.tp-ac__item {
  overflow: hidden;

  padding: em(5px, 14px) em(10px, 14px);

  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:hover, &.is-active {
    background-color: #ddd;
  }

  &.tp-ac__no-results, &.tp-ac__no-results:hover {
    cursor: default;

    background-color: white;
  }

  span {
    color: #4a4a4a;

    font-weight: bold;
  }
}
