// Loader

$size: 5em;

@keyframes ball-scale-ripple {
  0% {
    transform: scale(.1);

    opacity: 1;
  }

  70% {
    transform: scale(1);

    opacity: .7;
  }

  100% { opacity: 0; }
}

.loader > div {
  width: $size;
  height: $size;

  animation: ball-scale-ripple 1s 0s infinite cubic-bezier(.21, .53, .56, .8);

  border: solid 2px #4A4A4A;
  border-radius: 100%;

  animation-fill-mode: both;
}
